body {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
#parent {
  text-align: center;
}
#parent p {
    display: inline-block;
  vertical-align: middle;
}
#reset {
    position: absolute;
    bottom: 0;
    right: 0;
}
#prestige {
  width: 20%;
  height: 25%;
    position: absolute;
    top: 0;
    right: 0;
}
#rebirth {
  width: 20%;
  height: 25%;
    position: fixed;
    top: 25%;
    right: 0;
}
.cbuyable {
    width: 5%;
}